/* Selector universal */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Selector por tag */
h1 {
    background-color: lavender;
}

/* Selector de clase */
.verde {
    color: green;
    font-weight: bold;
}

/* Selector de clase dentro de tag */
ol.morado {
    color: purple;
}

/* Selectores de pseudo clases */
p:hover {
    color:red;
}

.verde:hover {
    color: darkgreen;
}

/* Selectores de id */
#cerveza_indio {
    color: darkgoldenrod;
}