@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* Selector universal */
body {
    font-family: "Roboto", "Verdana", "Geneva", "Tahoma", sans-serif;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}

h1, h2, strong {
    color: #333;
}

/* Selector por tag */
h1 {
    background-color: lavender;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

/* Selector de clase */
.verde {
    color: green;
    font-weight: bold;
}

/* Selector de clase dentro de tag */
ol.morado {
    color: purple;
}

/* Selectores de pseudo clases */
p:hover {
    color:red;
}

.verde:hover {
    color: darkgreen;
}

/* Selectores de id */
#cerveza_indio {
    color: darkgoldenrod;
}

code, pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
}

a {
    color: #e81c4f;
}

code, pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

pre {
    border-left: 2px solid #69c;
}