<%- include('../includes/head.ejs') %>

<h1>Estos son los mejores robots</h1>

<% if (robots.length > 0) { %>
<ul>
    <% for (let r of robots) { %>
        <li><%= r %></li>
    <% } %>
</ul>
<% } else { %>
    <h2>No hay robots registrados.</h2>
<% } %>

<%- include('../includes/foot.ejs') %>