<h1>Registrar robot</h1>
<form action="/robots/new" method="POST">
    <label for="nombre">Nombre del robot: </label>
    <input type="text" id="nombre" name="nombre">
    <br>
    <br>
    <input type="submit" id="enviar" name="enviar" value="Registrar">
</form>